/* src/App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-main {
  padding: 20px;
}

.item-list {
  height: 400px; /* Set height for scrolling container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
